<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>GIF 채팅방</title>
</head>
<body>
<div>F12를 눌러 console 탭과 network 탭을 확인하세요.</div>
<script src="/socket.io/socket.io.js"></script> <!--여기서 io를 제공. 이걸로 11줄처럼 커넥션-->
<script>
  const socket = io.connect('http://localhost:8005', { //http 사용
    path: '/socket.io',
    transports: ['websocket'],
  });
  socket.on('news', function (data) { //이벤트 리스너
    console.log(data);
    socket.emit('reply', 'Hello Node.JS'); //(이벤트 이름, 데이터)
  });
</script>
</body>
</html>
